<template>
  <span
    class="flex-cell"
    v-bind:class="{
      'is-first': first
    }"
  >
    <span class="value">{{ value }}</span>
    <span class="trophy">
      <img
        v-show="first"
        class="table-trophy-icon"
        :src="require(`../assets/1st.gif`)"
        alt="first"
      />
      <img
        v-show="second"
        class="table-trophy-icon"
        :src="require(`../assets/2nd.gif`)"
        alt="second"
      />
      <img
        v-show="third"
        class="table-trophy-icon"
        :src="require(`../assets/3rd.gif`)"
        alt="third"
      />
    </span>
  </span>
</template>
<style>
.flex-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.table-trophy-icon,
.trophy {
  height: 15px;
  width: 17px;
}
</style>
<script>
export default {
  name: 'FlexCell',
  props: {
    value: {
      required: true
    },
    first: {
      type: Boolean,
      required: false,
      default: false
    },
    second: {
      type: Boolean,
      required: false,
      default: false
    },
    third: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
