<template>
    <div class="container faq">
        <h1 class="title has-text-weight-bold">charts.tf is a stat visualization website for third party Team Fortress 2 competitions.</h1>
        <h2 class="subtitle has-text-weight-semibold">What is charts.tf?</h2>
        <p class="content">
            <strong>charts.tf</strong> started as a project inspired by <em>ETF2L Highlander spreadsheets</em>. These spreadsheets would show statistics
            of players throughout the span of an entire season. While interesting for reference, the spreadsheet had to be set up manually
            which would not only take up a lot of <strong>time</strong>, but would also leave <strong>more room for error</strong>.
        </p>
        <p class="content">
            charts.tf <strong>mass combines</strong> a theoretically infinite amount of logs into one collection.
            It does this by querying data from logs.tf and parsing it appropriately.
        </p>
        <p class="content">
            It shows all relevant data in an easily <strong>sortable table</strong> and separates statistics by class.
        </p>
        <p class="content">
            Another issue is that logs traditionally show the 'total time' played rather than the actual time that was spent playing.
            <strong>charts.tf</strong> however <strong>does account for pauses</strong> when fetching logs: it counts up the duration of all the rounds and fixes stats
            based on time accordingly.
        </p>
        <p class="content">
            Just looking at the raw numbers would not always make it easy to make up anything out of it. Another goal <strong>charts.tf</strong> aims to achieve
            is <strong>visualising this data in the form of charts</strong>.
        </p>
        <h2 class="subtitle has-text-weight-semibold">How does it work?</h2>
        <p class="content">
            Inherently, logs are just text files. This means that it's relatively easy to process these and fetch relevant data out of them.
            <strong>charts.tf</strong> retrieves existing logs and uses the available data processed on <strong>Logs.TF</strong>, but also checks for other statistics that
            are not explicitly mentioned, like statistics regarding building and destroying sentries, dispensers and teleporters.
        </p>

        <h2 class="subtitle has-text-weight-semibold">Why is <em>&lt;insert stat here&gt;</em> not visible for <em>&lt;insert class here&gt;</em>?</h2>
        <p class="content">
            There can be several reasons. Either the stat was not deemed important enough to mention for a particular class (ex. heals received as Engineer, airshots on Scout...) or
            there is no straightforward way to count the amount of times an event occurred (ex. banners deployed on Soldier).
        </p>

        <h2 class="subtitle has-text-weight-semibold">There is an incorrect stat.</h2>
        <p class="content">
            Most of the stats before Season 8 of Highlander should be mostly accurate. If something doesn't seem to add up,
            contact the creator. This might be due to varying reasons, from parsing errors to logs.tf having messed up stats themselves.
            Compatibility with older logs is also not that great. For example, medic stats past Season 7 are incomplete/incorrect.
            This is because logs.tf added the advanced medic stats at a time where not all season matches were played yet.
        </p>

        <h2 class="subtitle has-text-weight-semibold">Some stuff is missing.</h2>
        <p class="content">
            This is mainly the case for older logs. Sometimes the logs.tf API will not have everything, and sometimes the download URL for the .log file will be unavailable. In those situations, it's not possible to properly process all the data.
        </p>
        <h2 class="subtitle has-text-weight-semibold">That's great, could you make a stat listing for my competition?</h2>
        <p class="content">
            While possible, you do need to understand that actually retrieving the logs is still manual work as of yet. There is no
            straightforward way of mass gathering logs for competitions yet that wouldn't involve web scraping/a lot of additional work.
            If someone can give me all the logs for said competition, I can look into it. I will <strong>not</strong> go look for them for you.
        </p>
        <p class="content">Another thing to note is that this tool was made specifically for ETF2L. Compatibility with other leagues like RGL may come in the future if people want this, but this project hasn't been worked on in a year now.</p>
        <h2 class="subtitle has-text-weight-semibold">Could you do this for 6s/Prolander/&lt;insert other gamemode&gt;?</h2>
        <p class="content">
            It is compatible to some degree but does a pretty poor job due to the ability to switch class at any point in the game.
        </p>
        <h2 class="subtitle has-text-weight-semibold">Why did you make this?</h2>
        <p class="content">
            I had to make a project for school comparing two front-end frameworks. The initial tool had a GUI to combine all the logs, with feedback on progression through websockets.
        </p>
    </div>
</template>

<script>
    export default {
        name: 'FrequentQuestions'
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    @import '../style/components/components.faq';
</style>
