<template>
  <div class="c-logform">
    <b-notification v-if="errorMessage" type="is-danger">
      {{ errorMessage }}
    </b-notification>
    <form>
      <b-field label="Collection name"
               :type="{'is-danger': errors.has('collectionTitle')}"
               :message="errors.first('collectionTitle') ? errors.first('collectionTitle').replace('collectionTitle', 'collection name') : ''">
        <b-input v-model="collectionTitle" name="collectionTitle" maxlength="200" v-validate="'required'"></b-input>
      </b-field>
      <h2 class="subtitle">Logs</h2>
      <div class="columns" v-for="(log, index) in logs" :key="index">
        <div class="column">
          <b-field :type="{'is-danger': errors.has('log.url' + index)}" :message="errors.first('log.url' + index) ? errors.first('log.url' + index).replace('log.url' + index, 'specified') : ''" grouped>
            <b-input placeholder="Log URL" :name="'log.url' + index" v-model="log.url" v-validate="'required|url'">
            </b-input>
            <p class="control">
              <button class="button is-danger" @click="deleteLogField(index)">Remove</button>
            </p>
          </b-field>
        </div>
      </div>
      <button class="button is-info" @click="addNewLogField">+</button>

      <div class="field checkbox-private">
        <b-checkbox v-model="isPrivate">Private</b-checkbox>
      </div>

      <div class="control">
        <button type="submit" @click="submitCollection" class="button is-primary">
          <span>Submit</span>
        </button>
      </div>
    </form>
    <div v-if="isValid" class="c-logform__progress">
      <progress-bar size="medium" :val="currentPercentage" :text="logStatus"></progress-bar>
    </div>
  </div>
</template>

<script>
  import * as signalR from "@aspnet/signalr"
  import ProgressBar from 'vue-simple-progress'

  export default {
    name: 'logform',
    components: {
      ProgressBar
    },
    data: function () {
      return {
        collectionTitle: '',
        logs: [
          {
            url: ''
          }
        ],
        collection: {
          name: '',
          matches: [],
          isPrivate: true
        },
        connection: null,
        isValid: false,
        currentLog: null,
        currentPercentage: null,
        totalLogs: null,
        logStatus: '',
        isPrivate: false,
        errorMessage: null
      }
    },
    computed: {
      token() {
        return this.$store.getters.getToken
      }
    },
    created() {
      this.connection = new signalR.HubConnectionBuilder()
        .withUrl("/collectionHub", {
          accessTokenFactory: () => this.token
        })
        .configureLogging(signalR.LogLevel.Information)
        .build();
    },
    mounted() {
      this.connection.start();

      this.connection.on('ReceiveProgressUpdate', message => {
        this.logStatus = message
      })

      this.connection.on('CollectionCompleted', (message) => {
        let shortUrl = message.message
        this.$router.push('/collection/' + shortUrl)
      })

      this.connection.on('CollectionDuplicate', message => {
        this.errorMessage = message.message
      })

      this.connection.on('LogProcessing', message => {
        this.currentLog = parseInt(message)
        this.currentPercentage = this.currentLog / this.totalLogs * 100;
      })
    },
    methods: {
      addNewLogField() {
        this.logs.push({
          url: ''
        })
      },
      deleteLogField(index) {
        if (this.logs.length > 1) {
          this.logs.splice(index, 1);
        }
      },
      submitCollection() {
        this.$validator.validateAll().then((valid) => {
          if (valid) {
            this.collection.name = this.collectionTitle;
            this.collection.matches = this.logs.map(function (log) {
              return log['url'].split('/')[3];
            });
            this.collection.isPrivate = this.isPrivate;
            if (this.collection.name != '' && this.collection.matches.length > 0 && this.collection.isPrivate != null) {
              this.totalLogs = this.collection.matches.length;
              this.currentLog = 0;
              this.currentPercentage = 0;
              this.isValid = true;
              this.connection.invoke('PostCollection', { 'name': this.collectionTitle, 'matches': this.collection.matches, 'isPrivate': this.isPrivate })
            } else {
              this.$toast.open({
                message: 'Invalid input. Please try again.',
                type: 'is-danger',
                position: 'is-bottom'
              })
            }
          }
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../style/components/components.logform';
</style>
