@import  '../settings/_settings.global.scss';

.tab-class-icon {
    display: inline;
}

.tab-class {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-class-name {
    padding: #{$gutter/3}px;
}

.collection-data-table {
    padding-top: #{$gutter}px;
}

.class-portrait {
    border-radius: 50%;
}

.class-chart {
    padding-top: #{$gutter}px;
}

.class-chart-standard {
    height: 40vh;
}

.table-class-icon {
    max-width: 28px;
    max-height: 28px;
}
