@import  '../settings/settings.global';


input[type=text] {
    width: 100%;
    padding: #{$gutter / 2}px #{$gutter}px;
    margin: #{$gutter / 3}px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: #{$gutter / 6}px;
    box-sizing: border-box;
}