@import  '../settings/settings.global';

.c-top-bar {
    height: 8vh;
    width: 100%;
    z-index: 100;
    position: fixed;
    box-sizing: border-box;
    background-color: $green;
}

.c-header {
    display: flex;
    align-items: center;
}

.c-header__logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: $basic-radius;
}

.c-header__title {
    font-size: 24px;
}