<template>
    <div id="app">
        <page-header></page-header>
        <nuxt />
        <footer class="footer">
            <div class="container has-text-light">
                <div class="content">
                    <p>Made with ❤ by <a class="has-text-link" href="https://steamcommunity.com/id/-meww/" target="_blank">Adje</a>.</p>
                    <p>
                        <small class="footer-small-text">
                            A Team Fortress 2 stat visualization project.
                            <br />
                            Inspired by ETF2L HL spreadsheets created by CeeJaey, Just1s, proky and Mr British.
                        </small>
                    </p>
                    <p>
                        <small class="footer-small-text">
                            Shoutout to K1NG FTH and queen alicja (most loyal follower)
                        </small>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    import ChartJsPluginDataLabels from 'chartjs-plugin-datalabels'
    import ChartJsPluginDeferred from 'chartjs-plugin-deferred'
    import PageHeader from '@/components/PageHeader.vue'

    export default {
        name: 'App',
        components: {
            PageHeader,
            ChartJsPluginDataLabels,
            ChartJsPluginDeferred
        }
    }
</script>

<style lang="scss">
    @import '../style/base.scss';
</style>

<style lang="scss">
    .footer-small-text {
        display: block;
        padding: 8px 0;
    }
</style>
