<template>
    <frequent-questions />
</template>

<script>
import FrequentQuestions from '../components/FrequentQuestions';

export default {
  name: 'About',
  head () {
    return {
      title: 'About charts.tf'
    }
  },
  components: {
    FrequentQuestions
  }
}
</script>
