<template>
  <section class="section is-small" v-if="collections && collections.length">
    <div class="container">
      <div
        class="columns"
        v-for="collection in collections"
        v-bind:key="collection.name"
      >
        <div class="column">
          <div class="card card-equal-height">
            <div class="card-content">
              <nuxt-link :to="`/collections/` + collection.shortUrl">
                <p class="subtitle has-text-centered">{{ collection.name }}</p>
              </nuxt-link>
              <div class="content">
                <b-collapse :open="false" aria-id="contentIdForA11y1">
                  <button class="button is-info is-small" slot="trigger">
                    All matches
                  </button>
                  <div class="notification logs-list">
                    <div class="content">
                      <h3>
                        Matches played
                      </h3>
                      <b-taglist>
                        <b-tag
                          type="is-info"
                          v-for="match in collection.matches"
                          v-bind:key="match"
                        >
                          <a
                            :href="'https://logs.tf/' + match"
                            target="_blank"
                            >{{ 'logs.tf/' + match }}</a
                          >
                        </b-tag>
                      </b-taglist>
                    </div>
                  </div>
                </b-collapse>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
@import '../style/components/components.gallery.scss';
</style>

<script>
import collections from "../static/gallery.json";
export default {
  name: 'Competitions',
  head() {
    return {
      title: 'Gallery'
    }
  },
  computed: {
    collections() {
      return collections;
    }
  }
}
</script>
